.header__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-form__input {
  width: 100%;
  padding: 5px 35px;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 15px center;
}

.top-nav__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 35px;
}

.top-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
}

.switch-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.language-control {
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 40px;
}

.top-nav__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 35px;
}

.buttons__cart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-btn {
  padding: 7px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu-btn__line {
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: white;
}

.menu {
  padding: 20px;
  width: 100%;
  left: 0;
  position: absolute;
  top: 80px;
  background-color: #fff;
  color: #000;
}

.menu__link {
  display: block;
  float: none;
  font-size: 20px;
  padding: 5px 0 5px 15px;
  text-transform: uppercase;
}

.nav__item {
  float: none;
  padding: 2px 0 2px 15px;
}

.menu__socials {
  margin-left: 15px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.socials__item {
  margin-right: 17px;
}
