@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Regular.ttf");
  src: local("Lato"), local("Lato"), url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  src: url("../fonts/Lato/Lato-Light.ttf");
  src: local("Lato"), local("Lato"), url("../fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

li {
  float: left;
  list-style: none;
}

input,
button {
  font-size: inherit;
  color: inherit;
  background: transparent;
  font-family: inherit;
}

button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

body {
  color: #000;
  font-family: "Lato", "Roboto", sans-serif;
  font-size: 17px;
  overflow-x: hidden;
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.button_solid {
  color: #f2f2f2;
  background-color: #000;
}

.button_solid:hover {
  background-color: #0f0f0f;
}

.button_outline {
  background-color: #f2f2f2;
  color: #000;
  border: 3px solid #000;
}

.button_outline:hover {
  background-color: #000;
  color: #f2f2f2;
}

.section {
  max-width: 2000px;
  margin: 0 auto;
}

.header {
  background-color: #5b6169;
  background-image: url(../img/hero_bg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.offer {
  margin-top: 300px;
  max-width: 1000px;
  padding-bottom: 200px;
}

.offer__caption {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.offer__title {
  font-size: 54px;
}

.offer__button {
  margin-top: 20px;
}

.section__title {
  font-size: 48px;
  margin-top: 100px;
  margin-bottom: 30px;
}

.slider {
  position: relative;
}

.slider::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.category {
  -webkit-transform: skewX(155deg);
          transform: skewX(155deg);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category__link {
  text-align: center;
  width: 100%;
}

.category__link .category__bg {
  max-width: 100%;
  width: 100%;
  -webkit-transform: skewX(25deg) scale(1.2);
          transform: skewX(25deg) scale(1.2);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.category__content {
  position: absolute;
  -webkit-transform: skewX(25deg) translate(-34%, -40%);
          transform: skewX(25deg) translate(-34%, -40%);
  top: 40%;
  left: 48%;
  z-index: 1;
}

.category__img {
  max-width: 380px;
  margin-bottom: 20px;
}

.category__title {
  color: transparent;
  font-weight: 900;
  font-size: 34px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  color: #fff !important;
}

.swiper-button-next::before,
.swiper-button-prev::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 200px;
  height: 1500%;
}

.swiper-button-prev::before {
  background: -webkit-gradient(linear, left top, right top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper-button-next::before {
  background: -webkit-gradient(linear, right top, left top, from(#000000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (210px)[2];
  -ms-grid-columns: (1fr)[4];
      grid-template: repeat(2, 210px)/repeat(4, 1fr);
  gap: 30px;
}

.grid__item {
  color: #fff;
  background-color: #151515;
  padding: 30px;
  grid-row: span 1;
  grid-column: span 1;
  position: relative;
}

.grid__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid__link img {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  max-width: 120px;
}

.grid__item_big {
  text-align: right;
  grid-column: span 2;
  grid-row: span 2;
}

.grid__item_big img {
  max-width: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.grid__title {
  font-size: 24px;
  text-align: center;
  text-transform: capitalize;
}

.grid__title_big {
  text-align: right;
  text-transform: uppercase;
  font-size: 33px;
}

.grid__subtitle {
  font-weight: 300;
  line-height: 22px;
}

.describe {
  background-color: #f2f2f2;
  margin-top: 150px;
  margin-bottom: 70px;
  padding: 30px 0 50px;
}

.describe__text {
  margin-top: 20px;
}

.advantages__title {
  text-align: center;
}

.advantages-list {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages-list__item {
  display: block;
  max-width: 330px;
  padding: 20px 25px;
  background-color: #f2f2f2;
  text-align: center;
  margin: 100px 20px 0;
}

.advantage__icon {
  margin: -100px 0 0 0;
}

.advantage__title {
  font-size: 22px;
  margin-bottom: 10px;
}

.news__title {
  text-align: center;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news__item {
  max-width: 330px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
}

.article__img {
  width: 100%;
  max-height: 285px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article__img img {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.article {
  text-align: center;
  background-color: #f2f2f2;
}

.article:hover .article__img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.article__text {
  padding: 15px;
}

.article__title {
  margin-bottom: 7px;
}

.article__button {
  width: 100%;
}

.mailing {
  padding: 280px 0 230px;
}

.mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailing__title {
  font-size: 36px;
  margin-bottom: 15px;
}

.input-box {
  position: relative;
}

.mailing__input_label {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  z-index: -1;
}

.mailing__input {
  margin-bottom: 15px;
  padding: 7px 15px;
  border: 3px solid #000;
  width: 100%;
  max-width: 350px;
}

.footer {
  background-color: #151515;
  color: #f2f2f2;
  padding: 80px 0;
}

.footer .footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer__menu-title {
  font-size: 18px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.footer .menu__item {
  float: none;
  margin: 0;
}

.footer .menu__nav,
.footer .menu__list {
  width: 200px;
}

.footer .socials {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.footer .footer_copyright {
  margin-top: 50px;
  text-align: center;
  color: #b3b3b3;
}

@media screen and (max-width: 1180px) {
  .category__img {
    max-width: 300px;
  }
  .category__content {
    width: 100%;
    left: 40%;
  }
  .swiper-container {
    height: 300px;
  }
  .category__link .category__bg {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 160%;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    -ms-grid-rows: (210px)[4];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(4, 210px)/repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px) {
  .search-form {
    display: none;
  }
}

@media screen and (max-width: 645px) {
  .offer {
    margin-top: 130px;
  }
  .offer__caption {
    font-size: 20px;
  }
  .offer__title {
    font-size: 36px;
  }
  .section__title {
    font-size: 28px;
  }
}

@media screen and (max-width: 520px) {
  .logo__link {
    padding-top: 2px;
  }
  .top-nav {
    padding-top: 15px;
  }
  .language-control {
    font-size: 18px;
    font-weight: 100;
  }
  .top-nav__controls {
    padding: 10px 15px;
  }
  .menu {
    top: 60px;
  }
  .menu__link {
    font-size: 16px;
    padding: 5px 0;
    margin: 2px 0;
  }
  .nav__item {
    padding: 0;
    margin: 0;
  }
  .nav__link {
    padding: 5px 0;
    margin: 2px 0;
  }
  .menu__link,
  .nav__link {
    display: block;
  }
  .menu__nav {
    margin-bottom: 10px;
  }
  .socials {
    margin: 10px 20px;
  }
  .category {
    -webkit-transform: none;
            transform: none;
  }
  .category__link .category__bg {
    -webkit-transform: none;
            transform: none;
  }
  .category__content {
    -webkit-transform: translate(-40%, -40%);
            transform: translate(-40%, -40%);
  }
  .category__title {
    font-size: 22px;
  }
  .swiper-button-next::before,
  .swiper-button-prev::before {
    height: 800%;
    width: 75px;
  }
  .swiper-button-prev::before {
    background: -webkit-gradient(linear, left top, right top, from(#0000005c), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(90deg, #0000005c 0%, rgba(0, 0, 0, 0) 100%);
  }
  .swiper-button-next::before {
    background: -webkit-gradient(linear, right top, left top, from(#0000005c), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(-90deg, #0000005c 0%, rgba(0, 0, 0, 0) 100%);
  }
  .grid {
    -ms-grid-rows: (210px)[5];
    -ms-grid-columns: (1fr)[1];
        grid-template: repeat(5, 210px)/repeat(1, 1fr);
  }
  .grid__item_big {
    grid-column: span 1;
  }
  .news__item {
    margin: 20px auto;
  }
  .advantages-list__item {
    margin: 100px auto 20px;
  }
  .footer .menu__nav,
  .footer .menu__list {
    width: 180px;
  }
}

@media screen and (max-width: 375px) {
  .grid__title_big {
    font-size: 24px;
  }
}
